
@{
    ViewBag.Title = "ScheduleConfirmation";
}
@section Style {
<link href="~/Content/campaigns.css" rel="stylesheet" />
}
<div class="success-confirmation">
    <svg height="400" width="400">
        <circle cx="200" cy="200" r="200" fill="#52bad5" />
    </svg>

    <h1>
       Success!
    </h1>
    <h2>Your Automation has been started.</h2>

</div>
<div class="add-subscribers"><a href="/list/1">Add Subscribers</a></div>
<div class="view-campaign"><a href="/list/1">View Campaign</a></div>