.campaignoverview {
    border: 1px solid #ccc;
    padding: 20px;

    h4 {
        padding-bottom: 16px;
    }
}

.inlinblock {
    display: inline-block;
}

.campaignlabel {
    padding-bottom: 23px;
    font-weight: 600;
    min-width: 100px;
    padding-right: 10px;
}

.left {
    min-width: 60px;
}

.right-border {
    border-right: 1px solid #ccc;
}

.Emailstatistics {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 70px;
}



.email-open {
    margin-top: 70px;

    h4 {
        margin-left: -15px;
        margin-bottom: 22px;
    }
}


.top-align {
    top: 100px;
    font-size: 17px;
}

.green-check {
    background-color: #2ECC71;
}

.orange-check {
    background-color: #3D8D88;
}

.check {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.Page-title {
    margin-bottom: -10px;
    margin-top: 60px;
}

body {
    color: #34495E;
}
